<!DOCTYPE html>
<html>
<head>

        <link  rel="stylesheet" href="guestbook.css" />	
       	
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/jpeg" href="my_img.jpeg">
        <title> SAI KUMAR </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container-fluid">
       
                <div class="row">
                        <ul id="for_ul">
                    <div class="col-md-2"><li class="lia">A03UPPALA</li></div>
                    <div class="col-md-2"><li ><a class="lia" href="about"><i class="fa fa-home"></i> <strong>HOME </strong></a></li></div>
                    <div class="col-md-3"><li><a class="lia" href="gpa_calc"><i class="fa fa-calculator"></i><strong>GPA CALCULATOR</strong> </a></li></div>
                    <div class="col-md-2"><li><a class="lia" href="contacts"><i class="fa fa-phone"></i><strong>CONTACT</strong> </a></li></div>
                    <div class="col-md-3"><li class="active"><a class="lia" href="guestbook"><strong>GUESTBOOK</strong></a></li></div>	
                </ul>
                </div>
                
<div class="row"><div calss="col-md-12"><br></div></div>
<div class="row">
    <div class="col-md-7">
            <h1 id="sai"> Sai Kumar's Guestbook</h1>
    </div>
    
    <div class="col-md-3"><a href="/new-entry" class="btn btn-success">
        <h3>Write in the guestbook</h3> 
        </a></div>
</div>


