<link  rel="stylesheet" href="guestbook.css" />	
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/jpeg" href="my_img.jpeg">
<title> SAI KUMAR </title>
<meta charset="utf-8">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">

<div>
<% include header %>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { 
    console.log(entry.title);
    console.log(entry.content);
    console.log(entry.published);%>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
<div class="panel panel-info">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<div class="panel-body">
<%= entry.content %>
</div>
</div>
</div>
<div class="col-md-6"><br></div>
</div>
</div>
<% }) %>
<% } else { %>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
        
<h1>No entries! </h1> </div>
<div class="col-md-5"></div>
    </div>
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
 <a href="/new-entry"><h3>Add one!</h3></a></div>
<div class="col-md-5"></div>
</div>
<% } %>
<% include footer %>
</div>